# Assignment 1 using Pandas

## Useful pandas summary functions

In order to make use of the closed form soltion as well as take advantage of graphlab's built in functions we will review some important ones. In particular:

- Computing the sum of an SArray
- Computing the arithmetic average (mean) of an SArray
- multiplying SArrays by constants
- multiplying SArrays by other SArrays

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [2]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 
              'sqft_living15':float, 'grade':int, 'yr_renovated':int, 
              'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 
              'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 
              'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 
              'sqft_lot':int, 'view':int}

### Import dataset

In [34]:
df = pd.read_csv("kc_house_data.csv",dtype=dtype_dict)
X_train = pd.read_csv('kc_house_train_data.csv',dtype = dtype_dict)
X_test = pd.read_csv('kc_house_test_data.csv',dtype = dtype_dict)
X_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

## Pandas and SFrame similar function

In [17]:
# Let's compute the mean of the House Prices in King County in 2 different ways.# Let's  
prices = df['price'] # extract the price column of the sales SFrame -- this is now an SArray

# recall that the arithmetic average (the mean) is the sum of the prices divided by the total number of houses:
sum_prices = prices.sum()
num_houses = len(prices) # when prices is an SArray .size() returns its length
avg_price_1 = sum_prices/num_houses
avg_price_2 = prices.mean() # if you just want the average, the .mean() function
print("average price via method 1: " + str(avg_price_1))
print("average price via method 2: " + str(avg_price_2))

average price via method 1: 540088.1417665294
average price via method 2: 540088.1417665294

In [18]:
# if we want to multiply every price by 0.5 it's a simple as:
half_prices = 0.5*prices
# Let's compute the sum of squares of price. We can multiply two SArrays of the same length elementwise also with *
prices_squared = prices*prices
sum_prices_squared = prices_squared.sum() # price_squared is an SArray of the squares and we want to add them up.
print("the sum of price squared is: " + str(sum_prices_squared))

the sum of price squared is: 9217325138472052.0

In [19]:
def simple_linear_regression(input_feature, output):
    n = len(input_feature)
    x = input_feature
    y = output
    
    # compute the mean of  input_feature and output
    x_mean = x.mean()
    y_mean = y.mean()
    
    # compute the product of the output and the input_feature and its mean
    sum_xy = (y * x).sum()
    xy_by_n = (y.sum() * x.sum())/n
               
    # compute the squared value of the input_feature and its mean
    x_square = (x**2).sum()
    xx_by_n = (x.sum() * x.sum())/n
               
    # use the formula for the slope
    slope = (sum_xy - xy_by_n) / (x_square - xx_by_n)
    
    # use the formula for the intercept
    intercept = y_mean - (slope * x_mean)
    return (intercept, slope)

In [20]:
# (3)
input_feature = X_train['sqft_living']
output = X_train['price']

In [28]:
# (4)
squarefeet_intercept, squarefeet_slope = simple_linear_regression(input_feature,output)
squarefeet_intercept, squarefeet_slope

(-47116.07907289418, 281.9588396303426)

In [27]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_output = input_feature * slope + intercept
    
    return predicted_output

### 6. Quiz Question: Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?

In [29]:
get_regression_predictions(2650,squarefeet_intercept,squarefeet_slope)

700074.8459475137

## Residual Sum of Squares
Now that we have a model and can make predictions let's evaluate our model using Residual Sum of Squares (RSS). Recall that RSS is the sum of the squares of the residuals and the residuals is just a fancy word for the difference between the predicted output and the true output.

Complete the following (or write your own) function to compute the RSS of a simple linear regression model given the input_feature, output, intercept and slope:

### 7. Write a function that accepts column of data: ‘input_feature’, and ‘output’ and the regression parameters ‘slope’ and ‘intercept’ and outputs the Residual Sum of Squares (RSS). e.g. in python:

In [30]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    prediction = (input_feature * slope) + intercept
    residuals = output - prediction
    
    RSS = (residuals **2).sum()
    
    
    return RSS

### 8. Quiz Question: According to this function and the slope and intercept from (4) What is the RSS for the simple linear regression using squarefeet to predict prices on TRAINING data?

In [31]:
get_residual_sum_of_squares(X_train['sqft_living'],X_train['price'],
                            squarefeet_intercept, squarefeet_slope)

1201918354177286.2

## Predict the squarefeet given price

What if we want to predict the squarefoot given the price? Since we have an equation y = a + b*x we can solve the function for x. So that if we have the intercept (a) and the slope (b) and the price (y) we can solve for the estimated squarefeet (x).

Comlplete the following function to compute the inverse regression estimate, i.e. predict the input_feature given the output!

In [32]:
def inverse_regression_predictions(output, intercept, slope):
    
    estimated_input = (output - intercept)/slope
    
    return estimated_input

### 10. Quiz Question: According to this function and the regression slope and intercept from (3) what is the estimated square-feet for a house costing $800,000?

In [33]:
inverse_regression_predictions(800000, squarefeet_intercept,squarefeet_slope)

3004.3962451522766

### 11. Instead of using ‘sqft_living’ to estimate prices we could use ‘bedrooms’ (a count of the number of bedrooms in the house) to estimate prices. Using your function from (3) calculate the Simple Linear Regression slope and intercept for estimating price based on bedrooms. Save this slope and intercept for later (you might want to call them e.g. bedroom_slope, bedroom_intercept).

In [35]:
bedroom_intercept, bedroom_slope = simple_linear_regression(df['bedrooms'],output)
bedroom_intercept, bedroom_slope

(549592.7097334557, -3033.688005290364)

In [36]:
RSS1 = get_residual_sum_of_squares(X_test['sqft_living'],X_test['price'],
                            squarefeet_intercept, squarefeet_slope)
RSS2 = get_residual_sum_of_squares(X_test['bedrooms'],X_test['price'],
                                  bedroom_intercept,bedroom_slope)
RSS1, RSS2

(275402933617813.1, 539955592173373.25)

In [38]:
RSS1<RSS2

True